USE master
GO

/****** Object:  Database ProductOrders    Script Date: 8/26/2021 10:58:55 AM  ******/
IF DB_ID('ProductOrders') IS NOT NULL
    DROP DATABASE ProductOrders
GO

CREATE DATABASE ProductOrders
GO

USE ProductOrders
GO

/****** Object:  Table Customers     ******/
CREATE TABLE Customers(
	CustID int IDENTITY(1,1) NOT NULL,
	CustFirstName nvarchar(50) NULL,
	CustLastName nvarchar(50) NOT NULL,
	CustAddress nvarchar(255) NOT NULL,
	CustCity nvarchar(50) NOT NULL,
	CustState nvarchar(20) NOT NULL,
	CustZip nvarchar(20) NOT NULL,
	CustPhone nvarchar(30) NOT NULL,
	CustFax nvarchar(30) NULL,
 CONSTRAINT PK_Customers PRIMARY KEY CLUSTERED(
	CustID ASC
 )
)
GO

/****** Object:  Table Items     ******/
CREATE TABLE Items(
	ItemID int NOT NULL,
	Title nvarchar(50) NOT NULL,
	Artist nvarchar(50) NOT NULL,
	UnitPrice money NOT NULL
)
GO

/****** Object:  Table OrderDetails     ******/
CREATE TABLE OrderDetails(
	OrderID int NOT NULL,
	ItemID int NOT NULL,
	Quantity smallint NOT NULL
)
GO

/****** Object:  Table Orders     ******/
CREATE TABLE Orders(
	OrderID int NOT NULL,
	CustID int NOT NULL,
	OrderDate datetime NOT NULL,
	ShippedDate datetime NULL
)
GO

SET IDENTITY_INSERT Customers ON 
SET IDENTITY_INSERT Customers OFF
GO




USE master
GO