/* === ECONOMICS color palette "MODERN" =========================================== */

a,
.blockGroups .itemHead,
.timediv ul li a {
    color: #036;
    border-bottom-color: #036;
}

a:active {
    border: none;
    outline: none;
}

/* BODY
   ================================================== */

/* @branding -- do not remove */
#globalNavPageContentArea {
	background: url(https://learn.blackboardcdn.com/3800.19.0-rel.33+a603588/coursethemes/digital_learning/images/foreground.png) no-repeat left bottom, #0980a6 url(https://learn.blackboardcdn.com/3800.19.0-rel.33+a603588/coursethemes/digital_learning/images/background.png) 50% 50%;
}

#schemePreview {
	background-color: #115D77;	
}

#contentFrame,
#schemePreview,
/* === */
.breadcrumbs,
body.wizardBody .containerWizard,
.paneTabs {
    background-color: #eae7e1
}

.paneTabs .active a:before {
    border-bottom-color: #B6BF89
}

.paneTabs .active a:after {
    border-bottom-color: #E9EDD7
}

.paneTabs ul li a,
.paneTabs .external a,
.paneTabs .personal a {
    border-color: #B6BF89
}

.breadcrumbs,
.paneTabs {
    border-color: #036;
    background-color: #FFF;
}

/* BREADCRUMBS
   ================================================== */

.path .root a:before,
.simplePath .root a:before {
    color: #999;
}

.path a:hover {
    color: #000
}

.contextArrow, .contextArrowDown {
  box-shadow:none;
}

/* PANE TABS
   ================================================== */

/* Idle */




/* CONTENT PANE
   ================================================== */

.contentBox,
.portal .contentBox,
.menuWrap {
    border-color: #036;
}

/* @branding -- do not remove*/

#contentArea,
#schemePreviewBody {
    background: #FFF;
    border-color: #aaa;
}

.landingPageColumn .outcomesLanding li h3,
.landingPageColumn p {
    border-color: #C0CDB9;
    color: #333;
}

/* PAGE HEADER
   ================================================== */

/* @branding -- do not remove*/

#pageHeader,
#schemePreviewHead {
    background-color: #DEDEDE;
}

/* CONTROL ELEMENTS
   ================================================== */

/* Action Bars */

.actionBar,
.actionBarMicro,
/*Side navigation single controls ("Unenroll" etc.)*/
.singleControl,
.navPalette .discover {
    background-color: #334C83;
    border-color: #036;
}

.mainButton a,
.secondaryButton a,
	/*Login page control links*/
#loginHeader ul li a,
#loginLang h2 a {
    border-color:;
   	border-color:;
}

/* Action bar main and secondary button links */
.mainButton > a,
.secondaryButton > a,
.mainButton h2 > a,
.secondaryButton h2 > a  {
    background: -moz-linear-gradient(center top , #4765A5 0%, #182954 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#4765A5), to(#182954));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4765A5, endColorstr=#182954";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4765A5, endColorstr=#182954);
    border-color: #036;
    color:#e9e9e9;
}

/* Hover and focus */

/* Action bar links */

.actionBarMicro .active > a:after,
a.liveAreaTab:after,
.nav .sub h2 a:hover:after,
.nav .sub.mainButton:hover h2 a:after,
#loginLang h2:hover:after,
#loginLang:hover h2:after {
    border-bottom-color: #f0f0f0
}

.mainButton > a:hover,
.mainButton h2 > a:hover,
li.mainButton:hover > a,
li.mainButton:hover h2 > a,
.secondaryButton a:hover,
li.secondaryButton:hover a,
.actionBarMicro .active a,
.actionBarMicro .active a:hover,
.actionBarMicro .active a:focus,
	/*Side nav single controls*/
.singleControl a:hover,
.singleControl a:focus,
.discover a:hover,
.discover a:focus,
	/*Links in an "open" state*/
.liveAreaTab,
a.liveAreaTab,
a.liveAreaTab:hover,
a.liveAreaTab:focus,
.actionBar ul li a.liveAreaTab:focus,
.actionBar ul li.mainButton a.liveAreaTab,
.actionBar ul li.secondaryButton a.liveAreaTab,
.panelTabs li.active a.edit,
.panelTabs li.active a.edit:hover,
.panelTabs li.active a.edit:focus
	 {
    background: -moz-linear-gradient(center top , #294A7B  0%, #192B57  100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#294A7B), to(#192B57));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#294A7B, endColorstr=#192B57)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#294A7B, endColorstr=#192B57);
    border-color: #036;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
	box-shadow: none;
}

.nav .sub ul,
.cmdiv ul,
.menumini ul,
.quickAddPal,
.keyboardAccess,
.nav .sub ul li a,
.cmdiv a,
.menumini a,
.paneTabs .nav .sub a,
	/* tagging */
span.currentTags,
	/* Inline editing elements */
.liveArea,
.liveArea-slim,
.liveAreaTab,
	/* Button is turned into liveArea tab when .liveaArea is displayed. */
a.liveAreaTab,
a.liveAreaTab:hover,
a.liveAreaTab:focus,
.previewArea,
	/* Preview area (read-only version of live area) */
.jumptopage,
.panelTabs li.active a.edit,
.panelTabs li.active a.edit:hover,
.panelTabs li.active a.edit:focus,
	/*Multi-column flyout*/ 
.bcContent .flyout,
	/*Overrides for the file hierarchy three*/
ul.tree li a + img + a:focus,
ul.tree li img + img + a:focus,
div.treeContainer ul.tree li a.itemActive,
#learningUnitToc ul.tree li a.itemActive,
ul.tree li a.itemActive,
	/* Menu borders. */
.nav .sub ul,
.cmdiv ul,
.menumini ul,
.quickAddPal,
.keyboardAccess,
.cmdiv,
	/* contextual menu for tagging */
span.currentTags,
	/* Paging preference element */
.rumble ul li.jumptopage,
.rumble ul li.inventory_page.jumptopage,
.rumble_top ul li.jumptopage,
.rumble_top ul li.inventory_page.jumptopage,
.inventory_paging input,
.inventory_paging .currentPage,
.jumptopage,
.jumptopage input,
	/* Close menu link */
span.currentTags a.closeCloud,
.cmdiv li.contextmenubar_top a:focus,
.cmdiv li.contextmenubar_top a:hover,
.currentTags a.closeCloud:hover,
.currentTags a.closeCloud:focus,
 /*Login page language list*/
#loginLang ul  {
    background-color: #f0f0f0;
    border-color: #888;
}
.cmdiv li.contextmenubar_top a,
.cmdiv li.contextmenubar_top a:focus,
.cmdiv li.contextmenubar_top a:hover,
.currentTags a.closeCloud:hover,
.currentTags a.closeCloud:focus {
    background-color: #f0f0f0!important
}

/*Tab indicators*/
.portlet .containerTabs .active a:after {
    border-bottom-color: #EEEEEE
}

.mainButton a.disabled, .mainButton a.disabled:hover, .secondaryButton a.disabled:hover, .mainButton a.disabled:focus, .secondaryButton a.disabled:focus {
	background: none;
    -ms-filter: none;
    filter: none;	
	color: #000;
	text-shadow: none; 
}

a.liveAreaTab:after, .nav .sub.mainButton h2 > a:hover:after, .nav .sub.mainButton:hover > h2 a:after,
#loginLang h2:hover:after, #loginLang:hover h2:after,
.nav .sub:hover > a:after  {
	border-bottom-color: #F0F0F0;
}
/* BUTTONS
   ================================================== */

	/* @branding -- do not remove */
#primaryButton,
	/*===*/
input[type="submit"].submit,
.button-1,
.button-1-img {

    background: -moz-linear-gradient(center top , #c61c21 0%, #ae0a0f 100%) #569612;
    background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#c61c21), to(#ae0a0f));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#569612, endColorstr=#366604";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#569612, endColorstr=#366604);
    color: #F0F0F0;
    border-color: #C6163C;
    background-clip: padding-box;
}

input[type="submit"].submit:hover,
.button-1:hover,
.button-1:focus,
.button-1-img:hover,
.button-1-img:focus {
    background: -moz-linear-gradient(center top , #df292e 0%, #ae0a0f 100%) #ae0a0f;
    background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#df292e), to(#ae0a0f));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#df292e, endColorstr=#ae0a0f";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#df292e, endColorstr=#ae0a0f);
    color: #FFFFFF;
    border-color: #C6163C;
}


/* PORTAL MODULES
   ================================================== */

	/* @branding -- do not remove */
#moduleBorder,
#moduleBody,
	/*===*/
.portlet {
    
}

.portlet div.scroll_div {
    background-color: #EEE;
    border-color: #CCC;
}

/* Portlet Title */

	/* @branding -- do not remove */
#moduleTitle,
	/*===*/
.portlet h2 {
    color: #333333;
    text-shadow:;
    background-color:#D2D6E0;
}

/*  Portlet Title on hover */
.portlet h2.dragHandle:hover {
    color: #000000
}

.collapsible {
    background-color: #FFF
}

.logo, .legal, .additionalInfo a{
	color:#F3F3F3;
}


/* INVENTORY TABLES
   ================================================== */

/* Color for zebra stripes */
table.inventory tbody tr.gray td,
table.inventory tbody tr.gray th {
    background-color: #f0f0f0
}


/* REORDER HANDLES
   ================================================== */

.reorder,
.item .reorder {
    background-color: #ededed
}


/* DATA COLLECTION PAGES
   ================================================== */

.steptitle,
.submittitle {
    color: #000000
}

/* /DIGITAL LEARNING Course Theme */


