/*ASSESSMENT*/

/* @group ASSESSMENT
----------------------------------------------- */

/*Assessments*/		
div.instructionData {margin:0 0 12px;}

div.QuizBowlScroll{
  max-height: 300px;
  overflow: auto;
  width: 100%;
}

div.instructionData ul {
  list-style:none;
  margin:0;
  padding:0 0 2px;
  border-bottom:1px solid #ccc;
  }
  
div.instructionData ul li {
  float:left;
  list-style:none;
  margin:0 12px 0 0;
  padding:0 0 6px;
  }
  
div.instructionData ul li span {
  color:#555;
  font-size:90%;
  }
  
div.instructionData ul li h3 {
  display:inline;
  font-size:100%;
  margin:0;
  }

div.instructionData ul li.instructions {
  float:right;
  margin:6px 0 0;
  padding:0;
  }
  
  div.instructionData ul li.saving {
  float:center;
  margin:6px 0 0;
  padding:0;
  }
  
div.instructionData ul li.instructions a.browse {
  border:1px solid #ccc;
  border-bottom:none;
  font-size:90%;
  }

.assessmentInstructions {
  position: relative;
  margin: 0 0 12px;
  padding: 3px 12px 6px;
  background: #f1f1f1;
}

.assessmentInstructions h3 {
  margin: 3px 0;
  padding: 0;
}

.assessmentPortlet {
  z-index: 1;
  right: 43px;
  position: fixed;
  /* The below is a hack to bypass the auto resizing javascript already on the page.
   * Please remove !important when touching this again.
   */
  right: auto !important;
  left: auto !important;
}

.contentPane.contcollapsed .assessmentPortlet {
    position: fixed;
}

/* H3 and h4 are category headers inside the assessmentPortlet. */
.assessmentPortlet h3, .assessmentPortlet div.assessmentPortletBlock h4, .assessmentPortlet div.blockContents h4 {
	font-size:100%;
	color:#597298;
	letter-spacing:1px;
	/*border-bottom:1px solid #CEE2F2;
	padding:1px 0 2px 0;*/
	font-weight:bold;
	
}

div.assessmentPortletBlock h3.headerForProgressBar a {
    background:none !important;
}

/* Portlet Block is used when there's a need to have collapsible blocks within a portlet */
.assessmentPortlet div.assessmentPortletBlock {
    background: #f9f9f9;
    border-color: #777;
    display: block;
    padding: 0;
}

.assessmentPortlet div.assessmentPortletBlock h4,
.assessmentPortlet div.assessmentPortletBlock h4.blockTitle {
    padding: 0;
    margin: 0;
    border: 0;
}

/* Block Title link */
.assessmentPortlet div.assessmentPortletBlock h4 a,
.assessmentPortlet div.assessmentPortletBlock h4.blockTitle a {
    display: block;
    font-size: 110%;
    text-decoration: none;
    letter-spacing: 0px;
    background: #f1f1f1;
    color: #444;
    margin: 0;
    padding: 4px 9px;
    border: 0;
}

.assessmentPortlet div.assessmentPortletBlock h4 a:hover,
.assessmentPortlet div.assessmentPortletBlock h4 a:focus,
.assessmentPortlet div.assessmentPortletBlock h4.blockTitle a:hover,
.assessmentPortlet div.assessmentPortletBlock h4.blockTitle a:focus { background: #eee }

/* Span within the block title. Used to display total item count.*/
.assessmentPortlet div.assessmentPortletBlock h4 a span,
.assessmentPortlet div.assessmentPortletBlock h4.blockTitle a span {
    color: #ddd;
    font-weight: normal;
}

/* Portlet block groups. Contains Item Groups. */
.assessmentPortlet ul.subCategories,
ul.assessmentBlockGroups {
    list-style: none;
    margin: 0;
    padding: 0;
}

.assessmentPortlet div.assessmentPortletBlock  ul.subCategories li,
ul.assessmentBlockGroups li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.assessmentPortlet ul.subCategories li a,
ul.assessmentBlockGroups li a.itemHead {
    padding: 4px 16px;
    background: #e3efff url(images/more_options.gif) no-repeat 3px center;
    display: block;
    margin: 0;
    text-decoration: none;
    border-top: 1px solid #777;
    font-weight: bold;
    color: #597298;
    letter-spacing: 1px;
}

ul.assessmentBlockGroups li a.itemHead:hover,
ul.assessmentBlockGroups li a.itemHead:focus {
    background-color: #e3efff;
    text-decoration: underline;
}

ul.assessmentBlockGroups li a.itemHeadOpen { background: #fff no-repeat 3px center }

ul.assessmentBlockGroups li a.itemHeadOpen:hover,
ul.assessmentBlockGroups li a.itemHeadOpen:focus {
    background-color: #fff;
    text-decoration: underline;
}

.assessmentPortlet ul.subCategories li:first-child a,
ul.assessmentBlockGroups li:first-child a { border: none }

.assessmentPortlet ul.subCategories li a:hover,
.assessmentPortlet ul.subCategories li a:focus,
ul.assessmentBlockGroups li a:hover,
ul.assessmentBlockGroups li a:focus {
    background-color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}

/*Portlet block item groups. Contains Items. */
.assessmentPortlet ul.itemGroup li a,
ul.assessmentBlockGroups li ul.itemGroups li a {
    display: inline;
    padding: 0;
    font-weight: bold;
    font-size: 105%;
    border: 0;
}

.assessmentPortlet ul.itemGroup li a:hover,
.assessmentPortlet ul.itemGroup li a:focus
{ text-decoration: underline }

.assessmentPortlet div.assessmentPortletBlock h3 { margin: 0 }

.assessmentPortlet div.assessmentPortletBlock h3 a {
    display: block;
    padding: 3px 12px;
    margin: 0;
    text-decoration: none;
    background: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

.assessmentPortlet div.assessmentPortletBlock h3 a:hover,
.assessmentPortlet div.assessmentPortletBlock h3 a:focus { text-decoration: none }

.assessmentPortlet div.assessmentPortletBlock:first-child h3 a { border-top: none }

.assessmentPortlet div.assessmentPortletBlock h3 a.open {
    display: block;
    padding: 3px 12px;
    margin: 0;
    text-decoration: none;
    background: #E3Efff url(images/less_options.gif) no-repeat 99% center;
}

.assessmentPortlet ul.objectList li {
    background-image: none;
    margin: 0;
    padding: 0;
}

ul.assessmentBlockGroups li ul.itemGroups li a { font-weight: normal }

.assessmentPortletBlock ul li {
    background-image: none;
    padding: 0;
    margin: 0 0 0 0px;
}

.assessmentPortlet .blockContents ul li ul li span,
.assessmentPortlet .blockContents ul li span,
.assessmentPortlet ul li ul li span { margin: 0 0 0 4px }

.savingQuestion {
	display:none;
	background:none; 
	color:#CC0033; 
	font-size:150%;
	position:relative;
	padding: 2px;
}

/* this is purely a dummy style to approximate the spellcheck bar in the VTBE. not for production */
tr.dummyVTBEFooter td {
 border: 1px solid #666666;
 background: #eee;
}

/*Assessments?*/
.qIncomplete {
	float: left;
	display: block;
	border: 1px solid #999;
	width: 30px;
	text-align: center;
	font-weight: bold;
	margin: 1px;
	color:#333;
	background:#fff;
	text-decoration:none;
}
.qComplete {
	float: left;
	display: block;
	border: 1px solid #999999;
	width: 30px;
	text-align: center;
	color: #003366;
	background-color: #CCCCCC;
	color:#888;
	font-weight: normal;
	margin: 1px;
	text-decoration:none;
}


/* @end ASSESSMENT */


.questionNumber { color: #aaa }


.completionContainer {
    OVERFLOW: auto;
    PADDING-TOP: 6px;
    PADDING-BOTTOM: 6px;
}

.completionContainerLarge {
    OVERFLOW: auto;
    HEIGHT: 75px;
    PADDING-TOP: 6px;
    PADDING-BOTTOM: 6px;
}

.completionContainer a img { vertical-align: baseline }

.pagedRumble {
    margin: 0 0 14px;
    padding: 4px 2px;
    border: 0;
}

/* This style isn't used right now - was for rendering the paged points in a block without the grey bar
*/

.pagedPointsOutsideBar {
    background: #FAE7AE none repeat scroll 0% !important;
    color: #000000 !important;
    font-weight: bold;
    line-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0pt;
    left: auto;
    right: 6px;
    font-size: 110%;
    letter-spacing: 1px;
}

.pagedPoints {
    background: #FAE7AE none repeat scroll 0% !important;
    color: #000000 !important;
    font-weight: bold;
    line-height: 100%;
    margin: -5px 24px -5px -10px !important;
    padding: 5px 0px 6px  10px;
    font-size: 110%;
    letter-spacing: 1px;
}



.takeQuestionDiv,
#assessmentGradeForm #dataCollectionContainer > div[id*="_"],
#assessmentGradeForm #dataCollectionContainer > div[id*="step"],
#assessmentGradeForm #dataCollectionContainer h3.steptitle.submittitle {
    padding: 20px 30px;
    border-top: 1px solid #ccc;
}

.takeQuestionDiv h3 { margin: 0 }

.takeQuestionDiv + h3 { padding-left: 28px }

#assessmentGradeForm #dataCollectionContainer {
    margin-top: 0;
    margin-bottom: 0;
}

#assessmentGradeForm .infoListWrapper { margin: 0 -12px 18px }


/* @group ASSESSMENT CANVAS */

.copyQuestion,
.linkQuestion {
    padding-left: 22px!important;
    padding-bottom: 2px!important;
}

.copyQuestion { background: transparent url(/images/ci/icons/file_copy_ti.png) no-repeat scroll 1px center }

.linkQuestion { background: transparent url(/images/ci/icons/file_link_ti.png) no-repeat scroll 1px center }

div.assessmentHeader {
    border: 1px solid #CCCCCC;
    padding: 3px 6px 6px;
}

div.assessmentHeader h3 {
    margin: 3px 3px 6px;
    padding: 0;
}

div.assessmentHeader div {
    margin: 3px;
    color: #555;
}

.assess-stats .contentListPlain {
  margin-top: 0;
}

.assess-stats .contentListRight .taskbuttondiv {
  padding: 0;
  font-weight: bold;
}

.assess-stats .details {
  clear: both;
}

/* @end ASSESSMENT CANVAS */


/* @group KEY:VALUE TABLE */

.questionShell {
  border-bottom: 1px solid #cccccc;
}

.quesTable tr:nth-child(even), .assess-stats .bMedium tr:nth-child(even){
  background: #f9f9f9;
}

.quesTable th[scope=col], .assess-stats .bMedium th[scope=col]{
  color: #666666;
}

.questionShell > tr,
.questionShell > tbody > tr { border-top: 1px solid #f1f1f1 }

.questionShell > tr:first-child,
.questionShell > tbody > tr:first-child { border: none }

.questionShell th.labelCell,
.questionShell .labelCell {
    font-weight: bold;
    color: #767676;
}

.questionShell .valueCell {
	  color: #333333;
}

.questionShell .field {border-bottom:1px dotted #ccc;}

/* @end KEY:VALUE TABLE */

/* @group TAKE QUESTION */

.takeQuestionDiv .stepTitleRight.liveArea,
#assessmentGradeForm .stepTitleRight.liveArea {
    border-color: #CCCCCC;
    -moz-border-radius: 0 0 0 4px;
    -webkit-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
    border-width: 0 0 1px 1px;
    padding: 3px 30px 6px 12px;
    right: 0;
    top: 0;
    -moz-box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.05) inset;
}

/* @end TAKE QUESTION*/


/* @group ASSESSMENT RELATED ALIGNMENTS */

div.pushAlignmentsLightboxContainer{
	padding:50px;
	line-height:1.8em;
	width:400px;
}

/* @end ASSESSMENT RELATED ALIGNMENTS */ 

/* To make sure the display order column doesn't overlap the correct position column */
.orderingAnswersEdit {
 padding-left: 60px;
}

.questionStatus {padding:3px 2px 0;}

/* @Since 9.1sp6 */
.timedQuestionStatus {
    border-top:2px groove #ddd; 
    border-top:2px groove rgba(255, 255, 255, 0.3);  
    padding:3px 0 0;
    margin: 0 2px;
}

.completionContainer {padding:6px 12px 0;}

.questionStatus .questionStatusLabel {
    margin: 0;
    font-weight: normal;
    letter-spacing: 0;
}
.questionStatus .questionStatusLabel a {
    color: #666;
    text-decoration: none;
}
.questionStatus .questionStatusLabel a:hover {
    text-decoration: underline;
    color: #000;
}


/*Begin timed assessment*/

/* @Since 9.1sp6 */
.answerSavedButton, .answerSavedButton:hover, .answerSavedButton:focus {
    background-image:url(/images/ci/icons/current_li.png)!important;
    background-repeat:no-repeat!important;
    background-position:6px center!important;
    padding-left:22px!important;
    background-color: #888;
    color: #eee;
    text-shadow: 0 -1px 0 #000;
    border-color: #777;
    filter: none;
}

.answerSavedButton:hover, .answerSavedButton:focus {
    background-color: #666;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
    border-color: #555;
}




.answerSavedButton:hover, .answerSavedButton:focus {
    
}

/* @Since 9.1sp6 */
.answerSavingButton, .answerSavingButton:hover, .answerSavingButton:focus {
  background-color:#ccc;
  color:#444;
   border-color:#999;
  background-image:url(/images/ci/icons/file_li.gif)!important;
  background-repeat:no-repeat;
  background-position:6px center;
  padding-left:22px!important;
}


/* @Since 9.1sp6 */
.continuousTimerWarning {
}
.timeUpWarning {
  color:#CF0C0C;
}
.thirtySecondWarning {
  color:#CF0C0C
}
.oneMinuteWarning {
  color:#CF0C0C;
}
.fiveMinuteWarning {
  color:#000;
}
.halfTimeWarning {
  color:#000;
}
.headerForProgressBar {
  position:relative; 
  z-index:100;
}
 
.progressBar {  
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    z-index:90; 
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.progressBarStyle {
    background:#B6F796;
    background-image: -moz-linear-gradient(100% 100% 90deg, #83AF6D, #B6F796); 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#B6F796), to(#83AF6D));
}
.progressBarStyleOneMin {
    background: #FFE79F;
    background-image: -moz-linear-gradient(100% 100% 90deg, #DFC77D, #FFE79F); 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#FFE79F), to(#DFC77D)); 
}

.progressBarStyleThirtySec {
    background: #FFAFAF;
    background-image: -moz-linear-gradient(100% 100% 90deg, #FF6F6F, #FFAFAF); 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#FFAFAF), to(#FF6F6F));
}
.progressBarStyleOvertime {
    background: #FFAFAF;
    background-image: -moz-linear-gradient(100% 100% 90deg, #FF6F6F, #FFAFAF); 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#FFAFAF), to(#FF6F6F));
}

.timerBar {
    position:relative;
    padding:3px 6px;
    text-align: center; 
    color:000;
    border:2px solid #fff;  
    background:#f9f9f9;
    background-image: -moz-linear-gradient(100% 100% 90deg,  #fff, #f9f9f9);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#f9f9f9), to(#fff));
    -moz-box-shadow:0 3px 4px rgba(0,0,0,0.15); 
    -webkit-box-shadow:0 3px 4px rgba(0,0,0,0.15);
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
    font-size:105%;
    font-weight:bold;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    margin:4px 14px 0;
}

.timer strong {
    position:relative;
    z-index:100;
}

.timerText {padding:6px 14px;}

.timer.liveArea {padding:6px 7px 9px}

.timerMessage {
    padding:2px 0 0; 
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
    float:right;
}

.timeLabel {color:#666; font-weight:normal;}
.timeValue {font-size:120%;}

.timer-toggle {
}

.timer-toggle.timer-collapsed {
    background: url("../../images/portlet_expand_alt.gif") no-repeat 0px 2px transparent;
padding: 0 0 4px 14px; display:inline-block}
.timer-toggle.timer-expanded {
    position:absolute;
    width:20px;
    height:20px;
    top:5px;
    left:4px;
    background: url("../../images/portlet_contract_alt.gif") no-repeat 3px 4px transparent;
}



.timerBar .timerLabel:before, .timerMessage:before {
    font:           1.4em/0 'Pictos', sans-serif;
    margin-right:   0.4em;  
}

.progressBarStyleOvertime + .timerLabel:before {
    content: "t" ; 
    color:#CF0C0C;
}
.progressBarStyleOneMin + .timerLabel:before  {
    content: "!" ; 
    color: #7F6B2F;
}

.progressBarStyleThirtySec + .timerLabel:before  {
    content: "!" ; 
    color:#CF0C0C;
}

.timerMessage:before {content: "";}

.halfTimeWarning:before {color:#999}

/*End timed assessment*/

#bb-assessment-canvas .receipt[id*="receipt_nested"] a.close {
  right: 6px;
  top: 6px;
}


#bb-assessment-canvas .contentListPlain { margin: 0 -30px }

#bb-assessment-canvas .contentListPlain > li:first-child { border-top-color: #ccc }

#bb-assessment-canvas .contentListPlain > li {
    padding-left: 42px;
    min-height: 16px;
}

#bb-assessment-canvas .contentListPlain > li .item { padding: 0 }

#bb-assessment-canvas .contentListPlain > li .details { padding-top: 12px; padding-bottom: 5px; }

#bb-assessment-canvas .contentListPlain > li:last-child { border-bottom: 1px solid #ccc }

