USE master
GO

IF DB_ID('Examples') IS NOT NULL
    DROP DATABASE Examples
GO

/****** Object:  Database Examples    ******/
CREATE DATABASE Examples
GO

USE Examples
GO

/****** Object:  Table ActiveInvoices     ******/
CREATE TABLE ActiveInvoices(
	InvoiceID int IDENTITY(1,1) NOT NULL,
	VendorID int NOT NULL,
	InvoiceNumber varchar(50) NOT NULL,
	InvoiceDate smalldatetime NOT NULL,
	InvoiceTotal money NOT NULL,
	PaymentTotal money NOT NULL,
	CreditTotal money NOT NULL,
	TermsID int NOT NULL,
	InvoiceDueDate smalldatetime NOT NULL,
	PaymentDate smalldatetime NULL
)
GO

/****** Object:  Table APFlat     ******/
CREATE TABLE APFlat(
	VendorName varchar(50) NOT NULL,
	InvoiceNumber varchar(50) NOT NULL,
	ItemDescription1 varchar(100) NULL,
	ItemDescription2 varchar(100) NULL,
	ItemDescription3 varchar(100) NULL,
	ItemDescription4 varchar(100) NULL
)
GO

/****** Object:  Table Customers     ******/
CREATE TABLE Customers(
	CustID int IDENTITY(1,1) NOT NULL,
	CustomerLast nvarchar(30) NULL,
	CustomerFirst nvarchar(30) NULL,
	CustAddr nvarchar(60) NULL,
	CustCity nvarchar(15) NULL,
	CustState nvarchar(15) NULL,
	CustZip nvarchar(10) NULL,
	CustPhone nvarchar(24) NULL,
 CONSTRAINT PK_Customers PRIMARY KEY CLUSTERED(
	CustID ASC
 )
)
GO

/****** Object:  Table DateSample     ******/
CREATE TABLE DateSample(
	ID int IDENTITY(1,1) NOT NULL,
	StartDate datetime NULL
)
GO

/****** Object:  Table Departments     ******/
CREATE TABLE Departments(
	DeptNo int IDENTITY(1,1) NOT NULL,
	DeptName varchar(50) NOT NULL,
 CONSTRAINT PK_Departments PRIMARY KEY CLUSTERED(
	DeptNo ASC
 )
)
GO

/****** Object:  Table Employees     ******/
CREATE TABLE Employees(
	EmployeeID int IDENTITY(1,1) NOT NULL,
	LastName varchar(35) NOT NULL,
	FirstName varchar(35) NOT NULL,
	DeptNo int NOT NULL,
	ManagerID int NULL
)
GO

/****** Object:  Table EmployeesOld     ******/
CREATE TABLE EmployeesOld(
	EmployeeID int IDENTITY(1,1) NOT NULL,
	LastName varchar(35) NOT NULL,
	FirstName varchar(35) NOT NULL,
	DeptNo int NOT NULL,
 CONSTRAINT PK_Employees PRIMARY KEY CLUSTERED(
	EmployeeID ASC
 )
)
GO

/****** Object:  Table EmployeesTest    ******/
CREATE TABLE EmployeesTest(
	EmployeeID int IDENTITY(1,1) NOT NULL,
	LastName varchar(35) NOT NULL,
	FirstName varchar(35) NOT NULL,
	DeptNo int NOT NULL,
	ManagerID int NULL
)
GO

/****** Object:  Table Investors     ******/
CREATE TABLE Investors(
	InvestorID int IDENTITY(1,1) NOT NULL,
	LastName varchar(50) NULL,
	FirstName varchar(50) NULL,
	Address varchar(50) NULL,
	City varchar(50) NULL,
	State char(2) NULL,
	ZipCode char(10) NULL,
	Phone char(20) NULL,
	Investments money NULL,
	NetGain money NULL,
 CONSTRAINT PK_Investors PRIMARY KEY CLUSTERED(
	InvestorID ASC
 )
)
GO

/****** Object:  Table Invoices     ******/
CREATE TABLE Invoices(
	InvoiceID int NOT NULL,
	InvoiceNumber int NULL,
	InvoiceTotal smallmoney NULL
)
GO

/****** Object:  Table NullSample     ******/
CREATE TABLE NullSample(
	InvoiceID int IDENTITY(1,1) NOT NULL,
	InvoiceTotal money NULL
)
GO

/****** Object:  Table PaidInvoices    ******/
CREATE TABLE PaidInvoices(
	InvoiceID int IDENTITY(1,1) NOT NULL,
	VendorID int NOT NULL,
	InvoiceNumber varchar(50) NOT NULL,
	InvoiceDate smalldatetime NOT NULL,
	InvoiceTotal money NOT NULL,
	PaymentTotal money NOT NULL,
	CreditTotal money NOT NULL,
	TermsID int NOT NULL,
	InvoiceDueDate smalldatetime NOT NULL,
	PaymentDate smalldatetime NULL
)
GO

/****** Object:  Table Projects     ******/
CREATE TABLE Projects(
	ProjectNo char(5) NOT NULL,
	EmployeeID int NOT NULL
)
GO

/****** Object:  Table RealSample     ******/
CREATE TABLE RealSample(
	ID int IDENTITY(1,1) NOT NULL,
	R float NULL
)
GO

/****** Object:  Table SalesReps     ******/
CREATE TABLE SalesReps(
	RepID int IDENTITY(1,1) NOT NULL,
	RepFirstName varchar(50) NOT NULL,
	RepLastName varchar(50) NOT NULL,
 CONSTRAINT PK_SalesReps PRIMARY KEY CLUSTERED(
	RepID ASC
 )
)
GO

/****** Object:  Table SalesTotals    ******/
CREATE TABLE SalesTotals(
	RepID int NOT NULL,
	SalesYear char(4) NOT NULL,
	SalesTotal money NOT NULL,
 CONSTRAINT PK_SalesTotals PRIMARY KEY CLUSTERED(
	RepID ASC,
	SalesYear ASC
 )
)
GO

/****** Object:  Table Sample     ******/
CREATE TABLE Sample(
	ID int IDENTITY(1,1) NOT NULL,
	Number int NULL,
	Color char(10) NOT NULL
)
GO

/****** Object:  Table StringSample     ******/
CREATE TABLE StringSample(
	ID char(3) NULL,
	Name varchar(25) NULL,
	AltID char(3) NULL
)
GO

/****** Object:  Table Vendors     ******/
CREATE TABLE Vendors(
	VendorID int IDENTITY(1,1) NOT NULL,
	VendorName nvarchar(50) NOT NULL,
	VendorAddress1 nvarchar(50) NULL,
	VendorAddress2 nvarchar(50) NULL,
	VendorCity nvarchar(50) NOT NULL,
	VendorState nchar(2) NOT NULL,
	VendorZipCode nvarchar(10) NOT NULL,
	VendorContactLName nvarchar(35) NULL,
	VendorContactFName nvarchar(35) NULL,
	VendorPhone nvarchar(50) NULL,
	TermsID int NOT NULL,
	AccountNo int NOT NULL,
	LastTranDate smalldatetime NULL,
	YTDPurchases money NULL,
	YTDReturns money NULL,
	LastYTDPurchases money NULL,
	LastYTDReturns money NULL,
 CONSTRAINT PK_Vendors PRIMARY KEY CLUSTERED(
	VendorID ASC
 )
)
GO

SET IDENTITY_INSERT ActiveInvoices ON 
SET IDENTITY_INSERT ActiveInvoices OFF
GO

INSERT APFlat (VendorName, InvoiceNumber, ItemDescription1, ItemDescription2, ItemDescription3, ItemDescription4) VALUES
('Wells Fargo Bank', '112897', 'DiCicco''s', 'Kinko''s', 'Office Max', 'Publishers Marketing'),
('Zylka Design', '97/522', 'MC Bouncebacks', 'SCMD Flyer', NULL, NULL),
('Zylka Design', '97/553B', 'Card revision', NULL, NULL, NULL)
GO

SET IDENTITY_INSERT Customers ON 
SET IDENTITY_INSERT Customers OFF
GO

SET IDENTITY_INSERT DateSample ON 
INSERT DateSample (ID, StartDate) VALUES
(1, CAST(0x0000762E00000000 AS DateTime)),
(2, CAST(0x000092B300000000 AS DateTime)),
(3, CAST(0x0000995D00000000 AS DateTime)),
(4, CAST(0x00009B4300A4CB80 AS DateTime)),
(5, CAST(0x00009F8A00E65057 AS DateTime)),
(6, CAST(0x00009F8E0094FAAC AS DateTime))
SET IDENTITY_INSERT DateSample OFF
GO

SET IDENTITY_INSERT Departments ON 
INSERT Departments (DeptNo, DeptName) VALUES
(1, 'Accounting'),
(2, 'Payroll'),
(3, 'Operations'),
(4, 'Personnel'),
(5, 'Maintenance')
SET IDENTITY_INSERT Departments OFF
GO

SET IDENTITY_INSERT Employees ON 
INSERT Employees (EmployeeID, LastName, FirstName, DeptNo, ManagerID) VALUES
(1, 'Smith', 'Cindy', 2, NULL),
(2, 'Jones', 'Elmer', 4, 1),
(3, 'Simonian', 'Ralph', 2, 2),
(4, 'Hernandez', 'Olivia', 1, 2),
(5, 'Aaronsen', 'Robert', 2, 3),
(6, 'Watson', 'Denise', 6, 3),
(7, 'Hardy', 'Thomas', 5, 2),
(8, 'O''Leary', 'Rhea', 4, 2),
(9, 'Locario', 'Paulo', 6, 1)
SET IDENTITY_INSERT Employees OFF
GO

SET IDENTITY_INSERT EmployeesOld ON 
INSERT EmployeesOld (EmployeeID, LastName, FirstName, DeptNo) VALUES
(1, 'Smith', 'Cindy', 2),
(2, 'Jones', 'Elmer', 4),
(3, 'Simonian', 'Ralph', 2),
(4, 'Hernandez', 'Olivia', 1),
(5, 'Aaronsen', 'Robert', 2),
(6, 'Watson', 'Denise', 6),
(7, 'Hardy', 'Thomas', 5),
(8, 'O''Leary', 'Rhea', 4),
(9, 'Locario', 'Paulo', 6)
SET IDENTITY_INSERT EmployeesOld OFF
GO

SET IDENTITY_INSERT EmployeesTest ON 
INSERT EmployeesTest (EmployeeID, LastName, FirstName, DeptNo, ManagerID) VALUES
(1, 'Smith', 'Cindy', 2, NULL),
(2, 'Jones', 'Elmer', 4, 1),
(3, 'Simonian', 'Ralph', 2, 2),
(4, 'Hernandez', 'Olivia', 1, 9),
(5, 'Aaronsen', 'Robert', 2, 4),
(6, 'Watson', 'Denise', 6, 8),
(7, 'Hardy', 'Thomas', 5, 2),
(8, 'O''Leary', 'Rhea', 4, 9),
(9, 'Locario', 'Paulo', 6, 1)
SET IDENTITY_INSERT EmployeesTest OFF
GO

SET IDENTITY_INSERT Investors ON 
SET IDENTITY_INSERT Investors OFF
GO

INSERT Invoices (InvoiceID, InvoiceNumber, InvoiceTotal) VALUES
(1, 8937, 50.0000),
(2, 3662, 100.0000),
(3, NULL, NULL),
(4, 4553, 250.0000),
(5, 8937, 0.0000)
GO

SET IDENTITY_INSERT NullSample ON 
INSERT NullSample (InvoiceID, InvoiceTotal) VALUES
(1, 125.0000),
(2, 0.0000),
(3, NULL),
(4, 2199.9900),
(5, 0.0000)
SET IDENTITY_INSERT NullSample OFF
GO

SET IDENTITY_INSERT PaidInvoices ON 
SET IDENTITY_INSERT PaidInvoices OFF
GO

INSERT Projects (ProjectNo, EmployeeID) VALUES
('P1011', 8),
('P1011', 4),
('P1012', 3),
('P1012', 1),
('P1012', 5),
('P1013', 6),
('P1013', 9),
('P1014', 10)
GO

SET IDENTITY_INSERT RealSample ON 
INSERT RealSample (ID, R) VALUES
(1, 1.0000000000000011),
(2, 1),
(3, 0.999999999999999),
(4, 1234.56789012345),
(5, 999.04440209348),
(6, 24.04849)
SET IDENTITY_INSERT RealSample OFF
GO

SET IDENTITY_INSERT SalesReps ON 
INSERT SalesReps (RepID, RepFirstName, RepLastName) VALUES
(1, 'Jonathon', 'Thomas'),
(2, 'Sonja', 'Martinez'),
(3, 'Andrew', 'Markasian'),
(4, 'Phillip', 'Winters'),
(5, 'Lydia', 'Kramer')
SET IDENTITY_INSERT SalesReps OFF
GO

INSERT SalesTotals (RepID, SalesYear, SalesTotal) VALUES
(1, '2019', 1274856.3800),
(1, '2020', 923746.8500),
(1, '2021', 998337.4600),
(2, '2019', 978465.9900),
(2, '2020', 974853.8100),
(2, '2021', 887695.7500),
(3, '2019', 1032875.4800),
(3, '2020', 1132744.5600),
(4, '2020', 655786.9200),
(4, '2021', 72443.3700),
(5, '2020', 422847.8600),
(5, '2021', 45182.4400)
GO

SET IDENTITY_INSERT Sample ON 
INSERT Sample (ID, Number, Color) VALUES
(1, 8937, 'Brown     '),
(2, 3662, 'Blue      '),
(3, NULL, 'Red       '),
(4, 4553, 'Green     '),
(5, 8937, 'Yellow    '),
(6, 606, 'Purple    '),
(7, NULL, 'Orange    '),
(8, 808, 'None      '),
(9, NULL, 'None      '),
(10, NULL, 'None      '),
(11, NULL, 'None      ')
SET IDENTITY_INSERT Sample OFF
GO

INSERT StringSample (ID, Name, AltID) VALUES 
('1  ', 'Lizbeth Darien', '01 '),
('2  ', 'Darnell O''Sullivan', '02 '),
('17 ', 'Lance Pinos-Potter', '17 '),
('20 ', 'Jean Paul Renard', '20 '),
('3  ', 'Alisha von Strump', '03 ')
GO

SET IDENTITY_INSERT Vendors ON 
SET IDENTITY_INSERT Vendors OFF
GO

/****** Object:  Index City    ******/
CREATE NONCLUSTERED INDEX City ON Customers(
	CustCity ASC
)
GO

/****** Object:  Index PostalCode    ******/
CREATE NONCLUSTERED INDEX PostalCode ON Customers(
	CustZip ASC
)
GO

/****** Object:  Index Region    ******/
CREATE NONCLUSTERED INDEX Region ON Customers(
	CustState ASC
)
GO

/****** Object:  Index IX_VendorName    ******/
ALTER TABLE Vendors 
ADD CONSTRAINT IX_VendorName UNIQUE NONCLUSTERED (
	VendorName ASC
)
GO

ALTER TABLE Sample 
ADD CONSTRAINT DF_Sample_Text  DEFAULT ('None') FOR Color
GO

ALTER TABLE Vendors 
ADD CONSTRAINT DF_Vendors_TermsID  DEFAULT (3) FOR TermsID
GO

ALTER TABLE Vendors 
ADD CONSTRAINT DF_Vendors_AccountNo  DEFAULT (570) FOR AccountNo
GO

ALTER TABLE Vendors 
ADD CONSTRAINT DF_Vendors_YTDPurchases  DEFAULT (0) FOR YTDPurchases
GO

ALTER TABLE Vendors 
ADD CONSTRAINT DF_Vendors_YTDReturns  DEFAULT (0) FOR YTDReturns
GO

ALTER TABLE Vendors 
ADD CONSTRAINT DF_Vendors_LastYTDPurchases  DEFAULT (0) FOR LastYTDPurchases
GO

ALTER TABLE Vendors 
ADD CONSTRAINT DF_Vendors_LastYTDReturns  DEFAULT (0) FOR LastYTDReturns
GO

ALTER TABLE SalesTotals  WITH CHECK 
ADD CONSTRAINT FK_SalesTotals_SalesReps FOREIGN KEY(RepID)
REFERENCES SalesReps (RepID)
GO

ALTER TABLE SalesTotals CHECK CONSTRAINT FK_SalesTotals_SalesReps
GO

USE master
GO